################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/lumoragrid.infra/CopilotIndices/17.13.430.18484
/.vs/lumoragrid.infra/FileContentIndex
/.vs/slnx.sqlite

# Terraform lockfiles
.terraform.lock.hcl
**/.terraform.lock.hcl
/.vs/lumoragrid.infra/v17/DocumentLayout.json
/.vs/lumoragrid.infra/v17/.wsuo
/envs/dev/.terraform/providers/registry.terraform.io/hashicorp/random/3.7.2/windows_amd64
/envs/dev/.terraform/providers/registry.terraform.io/hashicorp/azurerm/3.117.1/windows_amd64
/envs/dev/.terraform
/.vs/lumoragrid.infra/v17/DocumentLayout.backup.json
/.vs/lumoragrid.infra/CopilotIndices/17.14.1091.29919
/.vs/VSWorkspaceState.json
